body {
  background: linear-gradient(#b430f133, #e591d367);
}

body::-webkit-scrollbar {
  display: none;
}

div::-webkit-scrollbar {
  display: none;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.item {
  display: flex;
  align-items: center;
}
.item h2{
  text-align: center;
  margin: auto;
  padding: 8px 0 8px;
  width: 80%;
  font-family: "Jersey 15", sans-serif;
  font-size: 10vh;
  color: rgba(41, 13, 67, 0.877);
}


p {
  text-align: center;
  padding: 8px 0 8px;
  font-family: "Jersey 15", sans-serif;
  font-size: 5vh;
}

h2 {
  text-align: center;
  padding: 8px 0 8px;
  font-family: "Pixelify Sans", sans-serif;
  color:#f12cc7c7;
  font-size: 5vh;
}

.cont input {
  position: absolute;
  opacity: 0;
  cursor:pointer;
  height: 10vh;
  width: 10vh;
}
.check {
  position: absolute;
  width:10vh;
  height:10vh;
  margin-right:-12vh;
  margin-left: 4vh;
  border: 5px solid rgba(41, 13, 67, 0.877);
  border-radius: 5px;
}

.cont:hover input ~ .check {
  background-color: rgba(41, 13, 67, 0.336);
}

.cont input:checked ~ .check {
  background-color: rgba(41, 13, 67, 0.877);
}

.check:after {
  content: "";
  position: absolute;
  display: none;
}

.cont input:checked ~ .check:after {
  display:block
}

.cont .check:after {
  left: 20px;
  top: 5px;
  width: 3vh;
  height: 6vh;
  border: 20px solid white;
  border-width: 0 8px 8px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}