.item {
  text-align: center;
  margin: auto;
  padding: 8px 0 8px;
  width: 80%;
  font-family: "Jersey 15", sans-serif;
  font-size: 10vh;
  color: rgba(41, 13, 67, 0.877);
}

p {
  text-align: center;
  padding: 8px 0 8px;
  font-family: "Jersey 15", sans-serif;
  font-size: 5vh;
}

h2 {
  text-align: center;
  padding: 8px 0 8px;
  font-family: "Pixelify Sans", sans-serif;
  color:#f12cc7c7;
  font-size: 5vh;
}

body {
  background: linear-gradient(#b430f133, #e591d367);
}
